
body{
    padding: 0;
    margin: 0;
}
main{
    
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background:linear-gradient(120deg, #8BC5EB,#9599E2) no-repeat;
    width: 100%;
    height: 100vh;
    margin : 0px;
   
}
form{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 60%;
    border-radius: 10px ;
    box-shadow: 0px 0px 20px -10px black;
    margin: 0 auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    
}

#white{
    width : 50%;
    background-color: white;
    height: 600px;
    border-radius: 10px 0 0 10px;
    min-width: 30%;
    min-height: 400px;
    
}
#white h1 {
    font-weight: 400;
    color: #477CD3;
    
}
#white #gauche, #gradient #droite{
    
    width: 80%;
    margin: auto;
  
}
.champfull{
    width :100%;
}
#white select{
    color: rgba(0,0,0, 0.6);

} 
#nom1,#business1{
    width: 50%;
    margin-right: 10px;
}
#nom2,#business2{
    width :45%;
    margin-right: -20px;
}
#white input, #white select{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid rgba(0,0,0, 0.4);
    padding-bottom: 10px;
    margin-bottom: 25px;
  
}
input:focus, select:focus{
    outline: none;
    
}

#gradient{
    width: 50%;
    height: 600px;
    background: linear-gradient(90deg ,#4836CF, #4935D4 );
    border-radius: 0 10px 10px 0;
    min-width: 30%;
    min-height: 400px;
}
#gradient h1{
    font-weight: 400;
}
#gradient input:not(.envoyer), #gradient select{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 10px;
    margin-bottom: 25px;
    background:transparent;
    
}

#gradient input:not(.envoyer), #gradient select,#gradient p:not(.envoyer), #gradient h1{
    color: white;
}
#gradient ::placeholder { 
    color: white;
}
#gradient #place{
    width: 65%;
    margin-right: -20px;
    
}
.small-field{
    width: 30%;
    margin-right: 10px;
}
#phone{
    width: 64%;
    margin-right: -10px;
}
.envoyer{
    border-radius: 30px;
    color:black;
    border: none;
    padding : 10px 20px 10px 20px;  
    font-weight: bold;
    margin-top: 30px;
}
a{
    font-weight: bold;
    color: white;
}
#gradient option{
    background: rgba(0,0,0, 0.7);
}


#container {
    color: white;
    font-size: 0.8em;
    margin-top: 12px;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    line-height: 1.1em;
    user-select: none;
  }
  #term[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


  .checkmark, .checkmark:before{
	border-radius: 50%;
	display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.checkmark:before{
	position: relative;
	content: '';
}

.checkmark { 
	width: 10px;
	height: 10px;
	background: none;
	border: 1.5px solid white;
}

.checkmark:before {
	width: 80%;
	height: 80%;
	top: 10.7%;
	left: 10.7%;
	background: white;
}

  #container:hover input ~ .checkmark:before {
    background-color: white ;
  }
  #container input:checked ~ .checkmark:before {
    background-color: white;
  }